.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 10px 0 0;
}

@media screen and (min-width: 600px) {
  .social-links {
    margin: 0;
  }
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.social-links a:first-child {
  margin-left: 0;
}

.social-links a:hover,
.social-links a:focus {
    color: #82BF0A;
    text-decoration: underline;
}

.social-links > div {
    margin: 0 0 0 15px;
    cursor: pointer;
}

.share-count {
    text-align: center;
}
