.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 15px 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.social-links a:hover,
.social-links a:focus {
    color: #82BF0A;
    text-decoration: none;
}

.social-links > div {
    margin: 3px;
    cursor: pointer;
}

.share-count {
    text-align: center;
}
